<div class="grid-x">
  <div class="small-centered cell text-center">
    <h1><%= "Edit Collaborators for #{@wiki.title}" %></h1>
  </div>
</div>

<div class="grid-x">
  <div class="small-10 small-centered cell">
    <%= form_tag(update_collaborations_for_wiki_path, method: "patch") do %>
      <% Collaboration.where(wiki_id: @wiki.id).each do |collaboration| %>
        <div class="grid-x">
          <div class="small-4 cell">
            <div class="form-group">
                  <%= check_box_tag 'collaboration[user_id_array][]', collaboration.user_id %>
                  <%= label_tag :collaboration, "#{User.find(collaboration.user_id).name}"%>
            </div>
          </div>
        </div>
      <% end %>


      <div class="grid-x">
        <div class="small-10 small-centered cell">
          <h5>Add a collaborator</h5>
          <h6 class="subheader">enter collaborator's email address</h6>


              <%= label_tag_tag :email, "Collaborators Email" %>
              <%= text_field_tag :email,  placeholder: "Enter email address" %>



          <div class="grid-x">
            <div class="shrink small-centered cell">
              <%= submit_tag "Save", class: 'success button' %>
            </div>
          </div>
        <div>
      </div>
    <% end %>
  </div>
</div>
