<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Blocopedia</title>


    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="grid-container ">
      <div class="top-bar">
        <div class="top-bar-left">
          <%= link_to 'Home', root_path %> |
          <% if user_signed_in? %>
            <%= link_to "My Wikis", wikis_path %>
          <% else %>
            <%= link_to "Public Wikis", wikis_path %>
          <% end %>
        </div>
        <div class="top-bar-right">
          <div class="shrink cell">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.name %></strong>. <%= current_user.role.capitalize %> Account
              <%= link_to 'Edit profile', edit_user_registration_path %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %> |
              <%= link_to "Login", new_user_session_path  %>
            <% end %>
          </div>
        </div>
      </div>

      <% if flash[:notice] %>
        <div class="success callout" data-closable>
          <button class="close-button"  type="button" data-close>
              <span>&times;</span>
            </button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert callout" data-closable>
          <button class="close-button" type="button" data-close>
            <span>&times;</span>
          </button>

          <%= flash[:alert] %>
        </div>
      <% end %>

      <div class="grid-x grid-padding-x"
        <%= yield %>
      </div>

    </div>
  </body>
</html>
